<h1 class="logo-name text-center"><%= image_tag("papaye.png")%></h1>
<h1 class="text-center">Papaye</h1>
<h2 class="text-center">Sign documents online</h2>
<div class="middle-box text-center loginscreen animated fadeInDown" id="login-form">
  <%= link_to 'Use my Proactives Account', user_session_path, class: 'btn btn-block btn-primary', method: :post %>
</div>
